/*
COLOR PALETTE
https://coolors.co/1c3144-419d78-f9f6f0-ed6a5a-eb9d1e
deep blue: #1c3144;
fresh green: #419d78;
off white: #f9f6f0;
terra-cotta: #ed6a5a;
marigold: #efad43;
*/

/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: #1c3144;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a  {
  color: #efad43;
  text-decoration: none;
  font-weight: 600;
}
a.btn  {
  font-weight: 500;
}
a:hover  {
  text-decoration: #efad43 solid underline 4px;
}
h1  {
  font-size: 80px;
  line-height: 1.5;
  text-shadow: 0 0 #ed6a5a, 1px 1px #ed6a5a, 2px 2px #ed6a5a, 3px 3px #ed6a5a, 4px 4px #ed6a5a, 5px 5px #ed6a5a, 6px 6px #ed6a5a, 7px 7px #ed6a5a;
}
h2  {
  font-size: 45px;
  text-shadow: 0 0 #ee8c4f, 1px 1px #ee8c4f, 2px 2px #ee8c4f, 3px 3px #ee8c4f, 4px 4px #ee8c4f;
}
h2.yellow-shadow  {
  text-shadow: 1px 1px #efad43, 2px 2px #efad43, 3px 3px #efad43, 4px 4px #efad43;
}
h1, h2  {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
  margin: 0;
}
.content-wrap  {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Navigation
------------------------------------*/

/* Profile
------------------------------------*/
header {
  background: #1c3144;
  color: #f9f6f0;
}
p.intro  {
  font-size: 1.25em;
}

/* Projects
------------------------------------*/
.projects {
  background: #f9f6f0;
}
.projects a  {
  color: #1c3144;
}
.projects .btn  {
  background: #1c3144;
  color: #f9f6f0;
  box-shadow: 2px 2px #efad43, 3px 4px #efad43;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover  {
  /* background: rgba(28, 49, 68, 90%); */
  transform: translate(0, -3px);
  box-shadow: 2px 2px #ee8c4f, 3px 4px #ee8c4f;
}
.projects .btn:active  {
  transform: translate(2px, 3px);
}
.project-item  {
  overflow: hidden;
  border-bottom: 4px dotted #efad43;
  padding: 25px 0;
}
.project-item img  {
  float: left;
  margin-right: 20px;
  border: 4px solid #1c3144;
  border-radius: 4px;
}
.project-item h3  {
  margin-top: 0;
}

/* Work Experience
------------------------------------*/
.work-experience {
  background: #419d78;
  color: #f9f6f0;
}

/* Education
------------------------------------*/
h3.underline  {
  border-bottom: 4px dotted #efad43;
  width: fit-content;
}

/* Contact Info
------------------------------------*/
footer {
  background: #1c3144;
  color: #f9f6f0;
}
